*{
    margin:0px;
    padding:0px;
}
body{
    background-image:url("https://raw.githubusercontent.com/FranciscaMora/scl-2018-12-bc-core-data-lovers/master/src/img/image2.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
   
   
   
   
}
p{
    margin-bottom:20px;
}

.nav-wrapper{
    background-color: black;
}

.nav-logo{

    width: 60px;
    margin-top: 2px;
    margin-left:70px;
}
.nav-item{
    color:#937341;
    font-family: initial;
}


#logo-lol{
width: 300px;
margin-top: 65px;
}

h2{
    color:#f1e6d0;
    font-size:25px;
}

.small{
    font-size: 20px;
    color: #937341;
    
}

aside{
    margin-right: 800px;
}
#article{
    margin-top:30px;
}


.page-footer{
    background-color: rgba(120,120,120,.5);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      